@import url(http://fonts.googleapis.com/css?family=Roboto:100);
body{
	margin: 0;
	padding: 0;
	background: black;

	color: #fff;
	font-family: 'Roboto';
	font-size: 14px;
}


#login{
	position: absolute;
	top: calc(30% - 85px);
	left: calc(40% - 50px);
	height: 300px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}
#login input[type=text]{
	width: 300px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

#login input[type=password]{
	width: 300px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}
#login input[type=submit]{
	width: 300px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: black;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}
#login input[type=submit]:hover{
	opacity: 0.8;
}
::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color:pink;
}
ul li {
  font-family: 'Roboto';
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #grey;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #black;
  color: #black;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #grey; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

a:link {
    text-decoration: none;
	color:white;
}

a:visited {
    text-decoration: none;
	color:white;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}